<{if $data.result.error == 1}>
	<{$smarty.const._AM_UHQGEO_ERR1}>
<{elseif $data.result.error == 2}>
	<{$smarty.const._AM_UHQGEO_ERR2}><{$block.input.ipin}>
<{elseif $data.result.error == 3}>
	<{$smarty.const._AM_UHQGEO_ERR3}>
<{else}>
	<{$smarty.const._AM_UHQGEO_YOURIP}><{$data.input.ipout}> - IPv<{$data.input.ipver}><br/>
	<{$smarty.const._AM_UHQGEO_YOURLOC}>
	<{if $data.result.country}>
		<img src="../images/flags/<{$data.result.flag}>.gif"> :: <{$data.result.country}> :: <{$data.result.ccname}>
	<{else}>
		<{$smarty.const._AM_UHQGEO_LOCNA}>
	<{/if}>
	<br/>
<{/if}>

<hr/>
<{$smarty.const._AM_HDR_LOCPROV}>
<p class="odd"><b>IPv4: <{$data.v4db.name}></b></p>
<{$smarty.const._AM_UHQGEO_QLV}> <{$data.v4db.querylib}><br/>
<{$smarty.const._AM_UHQGEO_DBT}> <{$data.v4db.dbtype}><br/>
<{if $data.v4db.dbdate}>
	<{$smarty.const._AM_UHQGEO_DBD}> <{$data.v4db.dbdate}><br/>
<{/if}>
<{if $data.v4db.dbsize}>
	<{$smarty.const._AM_UHQGEO_DBS}> <{$data.v4db.dbsize}> <{$smarty.const._AM_UHQGEO_RECORDS}><br/>
<{/if}>
<{if $data.cachedel}>
	<font color=red><{$smarty.const._AM_UHQGEO_CACHEDEL}></font><br/>
<{elseif $data.cacheactive}>
	<{$smarty.const._AM_UHQGEO_CACHEACT}>: <{$data.cachemiss}> <{$smarty.const._AM_UHQGEO_CACHEMISS}> / <{$data.cachehits}> <{$smarty.const._AM_UHQGEO_CACHEHITS}><br/>
<br/>
	<form action="main.php" method="post">
		<input type=hidden name="op" value="c">
		<input type=submit value="<{$smarty.const._AM_UHQGEO_CLEARV4}>">
	</form>
<{/if}>

<p class="odd"><b>IPv6: <{$data.v6db.name}></b></p>
<{$smarty.const._AM_UHQGEO_QLV}> <{$data.v6db.querylib}><br/>
<{$smarty.const._AM_UHQGEO_DBT}> <{$data.v6db.dbtype}><br/>
<{if $data.v6db.dbdate}>
<{$smarty.const._AM_UHQGEO_DBD}> <{$data.v6db.dbdate}><br/>
<{/if}>
<{if $data.v6db.dbsize}>
<{$smarty.const._AM_UHQGEO_DBS}> <{$data.v6db.dbsize}> <{$smarty.const._AM_UHQGEO_RECORDS}><br/>
<{/if}>
<{if $data.v6cachedel}>
	<font color=red><{$smarty.const._AM_UHQGEO_CACHEDEL}></font><br/>
<{elseif $data.cacheactive}>
	<{$smarty.const._AM_UHQGEO_CACHEACT}>: <{$data.v6cachemiss}> <{$smarty.const._AM_UHQGEO_CACHEMISS}> / <{$data.v6cachehits}> <{$smarty.const._AM_UHQGEO_CACHEHITS}><br/>
	<form action="main.php" method="post">
		<input type=hidden name="op" value="d">
		<input type=submit value="<{$smarty.const._AM_UHQGEO_CLEARV6}>">
	</form>
<{/if}>

<hr/>

<{if $data.query}>
  <p><{$smarty.const._AM_UHQGEO_QUERYIP}><{$data.q2.ipout}> - IPv<{$data.q2.ipver}></p>
  <p><{$smarty.const._AM_UHQGEO_QUERYLOC}>
  <{if $data.query.country}>
    <img src="../images/flags/<{$data.query.flag}>.gif"> :: <{$data.query.country}> :: <{$data.query.ccname}>
  <{else}>
    <{$smarty.const._AM_UHQGEO_LOCNA}>
  <{/if}>
  </p>
<{/if}>

<form action="main.php" method="post">
    <{$smarty.const._AM_UHQGEO_FORM_IPQUERY}>
    <input type=text name="ipaddr">
    <input type=hidden name="op" value="q">
    <input type=submit value="Query">
</form>